.burger {
    width: 36px;
    height: 36px;

    background-color: transparent;
    border: 0;
    place-items: center;

    span {
        position: relative;
        width: 100%;
        height: 3px;

        border-radius: 5px;

        display: block;
        background-color: #B7B7B7;

        transition: opacity 0.2s ease, transform 0.2s ease;
        transform-origin: center;
    }

    &:hover {
        span:nth-child(1) { transform: rotate(45deg) translate(9px,8px); }
        span:nth-child(2) { opacity: 0; }
        span:nth-child(3) { transform: rotate(-45deg) translate(9px,-8px); }
    }
}