.friend_card {
    height: 52px;
    display: flex;

    .friend_info {
        width: 100%;
        height: 52px;

        padding-left: 8px;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
        .username {
            grid-row: 1 / 2;
            overflow: hidden;
        }
    }
}