.game_page {
    flex: 1;
    min-width: 375px; // adaptive

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    
    @media (max-width: 1100px) {  // adaptive
        padding: 12px 0;   
        flex-direction: column;
    }
}