.animated__button {
    position: relative;
    border: 0;
    padding: 16px 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    cursor: default;

    animation: flying 2.5s ease-in-out infinite; // Del later and create maybe file for animations

    span {
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 500;
        transition: opacity 0.5s ease;
    }
    img {
        position: absolute;
        inset: 0;
        margin: auto;
        opacity: 0;
        transition: opacity 0.5s ease;
        pointer-events: none;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        padding: 4px;
        border-radius: 5px;
        background: linear-gradient(to bottom, #C9C5D7, #594D82);

        -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    &:hover {
        span {
            opacity: 0;
        }
        img {
            opacity: 1;
        }
    }
}

@keyframes flying {
    0%   { transform: translateY(0) };
    50%  { transform: translateY(-6px) };
    100% { transform: translateY(0) };
}