.logo_side {
    flex: 1;
    background-color: #000;

    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
}