.registration__div {
    max-width: 1400px;
    width: 75%;
    height: 675px;
    background-color: rgba($color: #000000, $alpha: 0.24);

    border-radius: 10px;
    display: flex;
}

// Future media queries
// media (max-width: 992) {}
// media (max-width: 768) {}
// media (max-width: 480) {}
// media (max-width: 320) {}