.text {
    width: 85%;
    max-width: 90%;

    padding: 24px 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;

    font-size: 1.8rem;
    font-weight: bold;
    color: white;

    span {
        display: inline-block;
        
        background: linear-gradient(to top, #2D1D61, #FFFFFF);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 0 2px rgba(255, 255, 255, 0.35), 0 0 14px rgba(255, 255, 255, 0.25);

        animation: float 2.4s ease-in-out infinite;
    }

    span:nth-child(2n) {
        animation-delay: .2s;
    }
    span:nth-child(3n) {
        animation-delay: .4s;
    }
    span:nth-child(5n) {
        animation-delay: .6s;
    }

    @keyframes float {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-6px); }
        100% { transform: translateY(0); }
    }
}