.container {
    position: relative;
    width: 100%;
    height: 100%;

    .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .background {
        img, video {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
            z-index: -1;
        }
    }
}