.option {
    max-width: 265px;
    width: 100%;
    height: 64px;

    padding: 0 8px;
    
    background-color: rgba(15, 16, 17, 0.5);
    border-radius: 5px;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    & p, & span {
        cursor: default;
        user-select: none;
    }

    & .eloTXT, & .songTXT {
        font-weight: 500;
    }
    & .eloTXT {
        color: #7C7C7C;
    }
    & .songTXT {
        font-size: 1.2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.song_image {
    position: relative;
    height: 100%;

    display: flex;
    align-items: center;

    & img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        animation: songSpin 20s linear infinite;
    }
    & .notes {
        position: absolute;
        height: 100%;
        top: -20px;
    }
}

@keyframes songSpin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 1080px) {
    .option {
        max-width: none;
        width: 100%;
        height: 100%;
    }
}