.player_card {
    padding: 12px;
    
    display: flex;
    gap: 12px;

    // replace or delete this
    .info {
        display: flex;
        gap: 8px;
    }
}

.timer {
    width: 100px;
    height: 65px;
    
    background-color: rgba($color: #DAD5D4, $alpha: 1.0);
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    transition: background-color 0.25s ease, color 0.25s ease;

    &.active {
        background-color: rgba($color: #DAD5D4, $alpha: 0.5);
        color: #FFF;
    }
}