.switch {
    width: 100%;
    height: 100px;

    display: flex;

    @mixin underline {
        content: '';
        height: 4px;
        background-color: #784DC4;
        border-radius: 10px;
        
        position: absolute;
        left: 50%;
        bottom: calc(50% - 20px);
        
        transition: width 0.5s ease;
        transform: translateX(-50%);
        z-index: 0;
    }

    button {
        flex: 1;
        background-color: inherit;
        position: relative;
        
        font-size: 1.2rem;
        color: #FFF;
        border: 0;

        &::after {
            @include underline;
            width: 0;
        }

        &.selected::after {
            @include underline;
            width: 8ch;
        }
    }
}