.chess_board {
    min-width: 350px; // adaptive
    min-height: 350px; // adaptive

    --size: 85vmin;
    --board-radius: 5px;

    width: var(--size);
    height: var(--size);
    
    position: relative;
    border-radius: var(--board-radius);
}