.chess_board {
    width: 85vmin;
    height: 85vmin;

    margin-top: 24px;
    
    border: 2px solid #FFF;
    border-radius: 10px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);

    .cell {
        position: relative;

        &.white { background-image: url('/all/whiteCell.png'); }
        &.black { background-image: url('/all/blackCell.png'); }
        
        .rank, .file { 
            position: absolute;
            font-size: 1.2rem;
            font-weight: 500;
            color: #E7CDB2;
            z-index: 9999;

            &.even { color: #8D6762; }
        }
        .rank { left: 8px; top: 8px; }
        .file { right: 8px; bottom: 8px; }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: grab;
            &:active { cursor: grabbing; }
        }
    }
}