.welcome_form {
    max-width: 1475px;
    max-height: 775px;
    width: 100%;
    height: 100%;
    background-color: #181818;
    
    border-radius: 10px;
    margin: 0 24px;

    display: flex;
    
    @media (max-width: 875px) {
        flex-direction: column;
        margin: 0;
        max-width: none;
        max-height: none;
    }
}