.welcome_form {
    flex: 1;
    max-width: 1275px;
    max-height: 775px;
    background-color: rgba($color: #181818, $alpha: 0.75);

    border-radius: clamp(0px,2vh,24px); // fix later
    margin: 24px;
    
    display: flex;
    flex-direction: column;
    @media (max-width: 865px), (max-width: 1024px) and (max-height: 1500px) {
        max-width: none;
        max-height: none;
        margin: 0;
        border-radius: 0;
    }
}