.table_and_find {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    .table_wrap {
        flex: 1;
        max-height: fit-content;
        background-color: #555555;

        margin: 24px;
        border-radius: 10px;

        overflow: auto;
    }
}