.animation__loop {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    
    .animation__text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.8rem;

        margin-top: 32px;
        font-size: 1.6rem;
        font-weight: 500;
        color: white;

        span {
        display: inline-block;
        animation: float 2.4s ease-in-out infinite;
        }

        span:nth-child(2n) {
        animation-delay: .2s;
        }
        span:nth-child(3n) {
        animation-delay: .4s;
        }
        span:nth-child(5n) {
        animation-delay: .6s;
        }
    }

    @keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-6px); }
    100% { transform: translateY(0); }
    }
}