.index0 {
    width: 100%;
    height: 100%;

    padding: 48px 24px;
    font-size: 1.4rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.index1 {
    width: 100%;
    height: 100%;
    background-color: orangered;
}

.index2 {
    width: 100%;
    height: 100%;
    background-color: orangered;
}

.index3 {
    width: 100%;
    height: 100%;
    background-color: orangered;
}