.find__game__button {
    width: 375px;
    height: 75px;
    
    background-color: #3F6730;
    color: white;
    
    font-size: 1.6rem;
    border-radius: 5px;
    border: 0;

    position: fixed;
    right: 32px;
    bottom: 32px;

    transition: transform 0.25s ease, background-color 0.25s ease;
    cursor: grab;

    &:hover {
        transform: translate(0, -5%);
        background-color: #3f6730ea;
    }
    &:active {
        cursor: grabbing;
    }
}

@media (max-width: 440px) {
    .find__game__button {
        width: 85%;

        right: 50%;
        transform: translateX(50%);
    }
}