.gallery_photo {
    width: 100%;
    height: 100%;
    
    position: relative;

    img {
        width: 100%;
        height: 100%;
        
        position: absolute;
        object-fit: cover;

        border-radius: 10px;
    }
    
    &::after {
        content: "";

        position: absolute;
        inset: 0;

        border: 3px solid rgba(#000, 0.5);
        border-radius: 10px;

        pointer-events: none;
    }

    &:hover {
        .gallery_photo_hover {
            opacity: 1;
        }
    }
}

.gallery_photo_hover {
    width: 100%;
    height: 100%;
    position: relative;
    
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;

    img {
        width: 50%;
        height: 50%;
        opacity: 0.8;
        user-select: none;
        pointer-events: none;
    }
}