.profile_options_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    align-items: center;
    padding-top: 24px;
    // background-color: red;
}

.profile_options_container:has(> :nth-child(3)) {
    padding-top: 0;
    justify-content: center;
}

.hover_behavior {
    position: relative;
    transition: background-color 0.25s ease;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        
        outline: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;

        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

.hover_behavior:hover {
    background-color: rgba(15, 16, 17, 0.3);
    &::before { opacity: 1; }
}

@media (max-width: 1080px) {
    .profile_options_container:has(> :nth-child(3)) {
        padding-top: 8px;
    }
    .profile_options_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        gap: 8px;
        padding-top: 0;
        padding: 16px;
    }
}