.profile_info {
    width: 100%;

    display: grid;
    grid-template-columns: 245px minmax(520px, 1fr) 1fr;
    grid-template-rows: 75px 170px;
}

.avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 25px;
}
.username {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-size: 1.6rem;
}
.description {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding: 12px;

    p {
        overflow: hidden;
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        line-clamp: 4;
        -webkit-line-clamp: 4;
    }
}
.options_container {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

@media (max-width: 1080px) {
    .profile_info {
        grid-template-columns: 245px minmax(320px, 1fr);
        grid-template-rows: 75px 170px 200px;
    }
    .options_container {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }
}