.registration__options {
    max-width: 425px;
    flex: 1;
    background-color: #2B1648;
    padding-top: 24px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}