.animation {
    &--main {
        cursor: pointer;
        transition: transform 0.25s ease;

        &:hover { transform: translateY(-5px); }
    }
    &--game {
        transition: filter 0.25s ease;

        &:hover { filter: brightness(0.8); }
    }
    &--error {
        cursor: default;
        animation: flying 2.5s ease-in-out infinite;

        @keyframes flying {
            0%   { transform: translateY(0) };
            50%  { transform: translateY(-6px) };
            100% { transform: translateY(0) };
        }
    }
    &--mini-jump {
        animation: mini-jump 0.25s ease-in-out forwards;

        @keyframes mini-jump {
            from {transform: translateY(20px);}
            to {transform: translateY(0);}
        }
    }
}