.main_animation {
    cursor: pointer;
    transition: transform 0.25s ease;

    &:hover { transform: translateY(-5px); }
}

.notfound_animation {
    cursor: default;
    animation: flying 2.5s ease-in-out infinite;

    @keyframes flying {
        0%   { transform: translateY(0) };
        50%  { transform: translateY(-6px) };
        100% { transform: translateY(0) };
    }
}