.button {
    position: relative;

    padding: 16px 24px;
    transition: transform 0.25s ease, background-color 0.25s ease;
    cursor: grab;

    .cancel_searching {
        width: 100%;
        height: 100%;
        background-color: rgba(141, 37, 37);
        
        border-radius: inherit;

        position: absolute;
        inset: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:active {
        cursor: grabbing;
    }
}

.animationClass:hover {
    transform: translate(0, -5%);
}

.animationClass:active {
    cursor: grabbing;
    transform: translate(0, 0);
}