.button {
    position: relative;
    border: 0;
    
    color: #FFF;
    font-size: 1.2rem;
    text-align: center;

    user-select: none; // del this if i cant select this by using tab

    &--green {
        background: linear-gradient(to bottom, #9FD05E, #45753C);
        border-radius: 5px;
        
        padding: 16px 24px;
        font-size: 1.6rem;
    }
    &--red {
        background: linear-gradient(to bottom, #99281D, #872424);
    }
    &--black {
        background: linear-gradient(to bottom, #373633, #2C2B29);
    }
    &--profile {
        background-color: rgba($color: #0F1011, $alpha: 0.5);
    }
    &--error {
        background-color: transparent;

        &::before {
            content: '';
            position: absolute;
            inset: 0;

            background: linear-gradient(to bottom, #C9C5D7, #594D82);
            border-radius: 5px;

            padding: 4px;
            mask: linear-gradient(#000) content-box, linear-gradient(#000);
            mask-composite: exclude;
        }
    }
}

.floating {
    width: 375px; // this back to inline styles like props
    height: 75px; // this back to inline styles like props

    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 9999;

    @media (max-width: 600px) {
        width: 75%;
        right: 50%;
        transform: translateX(50%);
    }
}