.button {
    position: relative;
    border: 0;
    
    color: #FFF;
    font-size: 1.2rem;
    text-align: center;

    transition: opacity 0.25s ease, background-color 0.25s ease;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    
    cursor: pointer;

    &:disabled { opacity: 0.5; pointer-events: none; }
    img { display: block; }

    .effect {
        height: 85%;
        aspect-ratio: 1 / 1;

        pointer-events: none;
        z-index: 0;
    }
    
    &--green {
        background: linear-gradient(to bottom, #9FD05E, #45753C);
    }
    &--red {
        background: linear-gradient(to bottom, #99281D, #872424);
    }
    &--blue {
        background: linear-gradient(to bottom, #5e9ad0, #3c5e75);
    }
    &--black {
        background: linear-gradient(to bottom, #1F1F1F, #000000);
    }
    &--profile {
        background-color: rgba($color: #0F1011, $alpha: 0.5);
    }
    &--welcome {
        &:disabled {
            background-color: transparent;
            border: 4px solid #4C2A79;
        }
        &:not(:disabled) {
            background-color: #4C2A79;
        }
        transition: background-color 0.5s ease;
    }
    &--glass {
        background: linear-gradient(to bottom, rgba($color: #FFF, $alpha: 0.10), rgba($color: #FFF, $alpha: 0.05));
        border-top: 3px solid rgba($color: #FFF, $alpha: 0.12);
        border-radius: 8px;
    }
    &--aura {
        background: transparent;
        border: 2px solid #A940ED;
        border-radius: 10px;

        box-shadow: 0 0 10px #872ED2;

        white-space: nowrap;

        animation: glow 0.25s linear infinite;

        @keyframes glow {
            0% {
                box-shadow: 0 0 10px #872ED2;
            }
            25% {
                box-shadow: 0 0 7px #872ED2;
            }
            75% {
                box-shadow: 0 0 9px #872ED2;
            }
            100% {
                box-shadow: 0 0 5px #872ED2;
            }
        }
    }
    &--transparent {
        background-color: transparent;
    }
    &--error {
        background-color: transparent;

        &::before {
            content: '';
            position: absolute;
            inset: 0;

            background: linear-gradient(to bottom, #C9C5D7, #594D82);
            border-radius: 5px;

            padding: 4px;
            mask: linear-gradient(#000) content-box, linear-gradient(#000);
            mask-composite: exclude;
        }
    }
}