.userCard {
    padding: 0 12px;

    display: grid;
    grid-template-columns: 64px 1fr;
    grid-template-rows: repeat(2, 32px);
    
    .usercard_avatar {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .usercard_name {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        padding-left: 6px;
        font-weight: 500;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .usercard_role {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        margin-top: -5px;
        padding-left: 6px;

        font-weight: 300;
        color: #7C7C7C;
    }
}