.userCard {
    width: fit-content;
    height: 64px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    gap: 12px;

    .userInfoContainer {
        height: 100%;

        display: flex;
        gap: 6px;
    }
}