.content__container {
    max-width: 975px;
    width: 100%;
    height: 100%;
    background-color: #1B1918;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 48px;
    font-size: 1.2rem;

    word-break: break-all;
}