.main__page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .zxc {
        max-width: 975px;
        background-color: #1B1918;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 48px;
        font-size: 1.2rem;

        word-break: break-all;
    }
}