.profile_aside {
    max-width: 265px;
    max-height: fit-content;
    width: 100%;

    background-color: rgba(15, 16, 17, 0.5);
    border-radius: 10px;

    margin-left: auto;
    padding-bottom: 24px;
}

@media (max-width: 1080px) {
    .profile_aside {
        max-width: 100%;
    }
}