.profile__page {
    flex: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    
}