.content {
    flex: 1;
    background-color: rgba(26, 27, 29, 0.85);
    
    font-size: 1.2rem;

    word-break: break-all;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    .content_overview {
        width: 100%;
        flex: 1;
        
        display: flex;
        gap: 16px;

        padding-top: 16px;
        padding-right: 25px;
        padding-left: 25px;
    }
}

@media (max-width: 1080px) {
    .content {
        padding-bottom: 32px;
    }

    .content_overview {
        flex-direction: column;
        padding-left: 16px;
    }
}