.userName {
    height: fit-content;
    
    display: inline-flex;
    gap: 12px;
    
    font-size: 1.2rem;
    
    cursor: default;
    user-select: none;

    img { width: auto; height: 1.6rem; }
}