.userName {
    min-width: 0;
    display: flex;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    
    flex-wrap: wrap;
    overflow: hidden;
    cursor: default;

    span {
        min-width: 0;
        max-width: 100%;
        flex-shrink: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        width: auto;
        height: 1.2rem;
        flex-shrink: 0;
    }

    &--profile {
        height: 2.4rem;
        span {
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
    
    &--card {
        height: 1.6rem;
        span {
            font-size: 1.2rem;
        }
    }
}