.user_description {
    font-size: 1.1rem;
    font-weight: 500;
    color: #7C7C7C;

    padding-right: 12px;

    line-height: 1.5em;
    max-height: calc(1.5em * 3);

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;

    word-break: break-all;
}

.view_more_text {
    padding-top: 12px;

    font-weight: 400;
    color: rgba($color: white, $alpha: 1);

    cursor: pointer;

    span:hover { text-decoration: underline; }
}