.chess_pieces {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.piece {
    position: absolute;
    pointer-events: auto;
    user-select: none;
    object-fit: contain;
    cursor: grab;

    transition: left 0.2s ease, top 0.2s ease;

    &:active { cursor: grabbing; }
}

.check {
    filter: drop-shadow(0 0 10px red);
}

.noTransition {
    transition: none;
}