.container {
    flex: 1;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    isolation: isolate;
    z-index: 0;

    &.profile_gradient {background-color: #000;}
    &.default_gradient {background-color: #272623;}

    .content {
        max-width: 1080px;
        width: 100%;
    }

    .background {
        position: absolute;
        max-height: 100vh;
        width: 100%;
        height: 100%;
        z-index: -1;

        &.background_transition::after {
            content: '';
            width: 100%;
            height: 100px;
            background: linear-gradient(to top, #000, transparent);
            
            position: absolute;
            left: 0;
            bottom: 0;
        }

        img, video {
            width: 100%;
            height: 100%;
            display: block;
            
            object-fit: cover;

            pointer-events: none;
        }
    }
}