.container {
    flex: 1;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    isolation: isolate;
    z-index: 0;
    
    background-color: black;

    .content {
        max-width: 1080px;
        width: 100%;
    }

    .background {
        position: absolute;
        max-height: 100vh;
        width: 100%;
        height: 100%;
        z-index: -1;

        img, video {
            width: 100%;
            height: 100%;
            display: block;
            
            object-fit: cover;

            pointer-events: none;
        }
    }
}