.user__avatar__container {
    width: fit-content;
    height: auto;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;

    .user__avatar {
        display: block;
    }
}