.header {
    width: 100%;
    min-height: 80px;

    background-color: #1A1817;

    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    z-index: 9999;
}

.header_options_container {
    display: flex;
    gap: 32px;

    padding-right: 32px;
    user-select: none;

    & > :last-child {
        display: none;
    }
}

@media (max-width: 760px) {
    .header_options_container > :not(:last-child) {
        display: none;
    }
    .header_options_container > :last-child {
        display: grid;
    }
}