.inputBlock {
    position: relative;

    // Default input styles
    & > input {
        width: 100%;
        height: 100%;

        color: #FFF;
        font-size: 1.2rem;
        font-weight: 500;

        padding-left: 12px;
        border: 0;
        outline: 0;

        &::placeholder { color: #9498BB; }
    }

    // Variants styles
    & > input.input--fluid-gradient {
        background-color: #343A50;
    }
    &:has(input.input--fluid-gradient)::after { // probably replace because not all old browsers supports has
        content: '';
        width: 100%;
        height: 4px;
        background:
        radial-gradient(circle, #462c94 30%, transparent 60%),
        radial-gradient(circle, #7c3dce 30%, transparent 60%);

        border-bottom-left-radius: 9999px;
        border-bottom-right-radius: 9999px;

        position: absolute;
        bottom: -4px;
        left: 0;

        background-size: 200% 100%;
        background-repeat: no-repeat;
        animation: fadeAnimation 10s infinite alternate ease-in-out;

        @keyframes fadeAnimation {
            0%   { background-position: 0% 50%, 100% 50%; }
            50%  { background-position: 50% 50%, 50% 50%; }
            100% { background-position: 100% 50%, 0% 50%; }
        }
    }
}