.inputContainer {
        height: 48px;
        position: relative;

    .input {
        width: 100%;
        height: 100%;

        background-color: transparent;
        border: none;
        outline: none;

        color: white;
        font-size: 1.2rem;
    }

    &:after {
        content: '';
        width: 100%;
        height: 2px;
        
        background: linear-gradient(90deg, #4E44D7, #966FEC);
        
        position: absolute;
        bottom: 0;
        left: 0;
    }
}