.find_card {
    width: 80%;
    height: fit-content;
    background: #101010;

    padding: 12px;

    display: flex;
    align-items: center;
    gap: 12px;
}

.text_container {
    flex: 1;
    
    .username {
        font-size: 1.4rem;
        font-weight: 500;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .description {
        color: rgba($color: #FFF, $alpha: 0.75);
        font-size: 1rem;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
}

.button_container {
    flex: 1;

    display: flex;
    justify-content: flex-end;
}