.user_name {
    display: flex;
    align-items: center;
    gap: 6px;
    
    padding-top: 32px;
    padding-bottom: 12px;

    font-size: 1.6rem;
    font-weight: 400;

    img {
        width: auto;
        height: 1.2rem;
    }
}