.search_status {
    height: 60px;
    background-color: rgba(63, 103, 48, 0.50);

    position: relative;

    display: flex;
    align-items: center;

    padding: 0 12px;

    font-size: 1.2rem;
    white-space: nowrap;
    
    border-radius: 9999px;

    &:hover {
        .search_stop_search {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.search_stop_search {
    width: 100%;
    height: 100%;
    background-color: rgba(141, 37, 37, 0.95);
    
    position: absolute;
    inset: 0;

    border-radius: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    cursor: pointer;

    img {
        height: 24px;
    }
    
    img, p {
        user-select: none;
    }
}