.option {
    position: relative;
    height: 64px;

    font-size: 1.45rem;
    color: #B7B7B7;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    cursor: pointer;

    &:first-child { border-top-left-radius: inherit; }

    &::before {
        content: '';
        width: 0%;
        position: absolute;
    }
    
    &.active {
        color: #FFF;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: #31302D;

            position: absolute;
            transition: width 0.5s ease;
        }

        p, img { z-index: 1; }

        &::after {
            content: '';
            width: 4px;
            height: 100%;
            background-color: #C6C5C5;
            
            position: absolute;
            right: 0;
        }
    }
}