.profile_gallery {
    width: 100%;
    height: 565px;

    display: grid;
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;

    & > :nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    & > :nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    & > :nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

@media (max-width: 1080px) {
    .profile_gallery {
        order: 1;
    }
}