.main {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg, #101625, #182848, #6a11cb, #0c2349);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;

    @keyframes gradientAnimation {
        0% {background-position: 0% 50%;}
        50% {background-position: 100% 50%;}
        100% {background-position: 0% 50%;}
    }
}