@property --angle {
  syntax: "<angle>";
  initial-value: 135deg;
  inherits: false;
}

.main {
    flex: 1;
    background: linear-gradient(var(--angle), #4C2A79, #000, #4C2A79);

    display: flex;
    justify-content: center;

    animation: gradientMoving 8s infinite alternate ease-in-out;

    @keyframes gradientMoving {
        from { --angle: 135deg; }
        to   { --angle: 45deg; }
    }
}