.button {
    width: 85%;
    height: 65px;
    background: linear-gradient(to right, #4E44D7, #966FEC);

    border: 0;
    border-radius: 5px;

    color: white;
    font-size: 1.2rem;

    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}