.button {
    color: white;
    font-size: 1.25rem;
    transition: transform 0.05s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    cursor: grab;

    img {
        width: 1.65rem;
        height: 1.65rem;
    }

    &:active {
        cursor: grabbing;
        transform:translateY(2px);
    }
}