.user__card {
    width: fit-content;
    height: 64px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    gap: 12px;

    img {
        border-radius: 2px;
        cursor: pointer;
    }
}

.textDIV {
    height: 100%;

    display: flex;
    gap: 6px;
    
    .username, .elo { font-size: 1.2rem; }
    .elo { color: #7C7C7C; }
}