@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
  font-family: "Lexend Deca", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #272623;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html, body {
  min-height: 100%;
  overflow-x: auto;
} */

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}

button, input, textarea, select {
  font: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}