.option_wrapper {
    position: relative;
}

.option_header {
    width: 36px;
    height: 36px;

    p {
        font-size: 1.2rem;
        color: #B7B7B7;
        opacity: 0;
        
        position: absolute;
        left: 50%;
        top: 170%;
        
        transform: translate(-50%);
        transition: opacity 0.25s ease, top 0.25s ease;

        pointer-events: none;
    }

    &:hover {
        p {
            opacity: 1;
            top: 175%;
        }
    }
}

.option_aside {
    padding-left: calc(36px + 16px + 16px);
    height: 64px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 24%;

    transition: background-color 0.25s ease;

    img {
        position: absolute;
        left: 32px;
    }

    p {
        font-size: 1.2rem;
        color: #B7B7B7;
        pointer-events: none;
    }

    &:hover {
        background-color: rgba($color: #fff, $alpha: 0.1);
    }
}