.fullscreen_image {
    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.5);

    position: fixed;
    left: 50%;
    top: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    transform: translate(-50%,-50%);
    z-index: 9999;

    cursor: pointer;

    img {
        width: 65%;
        height: 75%;

        border-radius: 10px;
        object-fit: cover;
    }
}