.aside_background {
    width: 100%;
    height: 100%;
    
    position: fixed;
    inset: 0;

    background-color: #0C0C0C;
    opacity: 0;
    transition: opacity 0.25s ease;

    pointer-events: none;
    z-index: 9999;
}

.aside {
    width: 365px;
    height: 100%;

    position: fixed;
    top: 0;
    right: 0;

    transform: translateX(100%);
    transition: transform 0.25s ease;
    
    z-index: 9999;
    pointer-events: none;

    background-color: #121212;
}

.open {
    transform: translateX(0);
    pointer-events: auto;
}

.bc_open {
    opacity: 0.5;
    pointer-events: auto;
}

.aside_options_container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > :first-child {
        border-bottom: 2px solid #B7B7B7;
        img {
            width: 16px;
            height: 16px;
        }
    }
}

.close_icon {
    height: 64px;
    
    display: flex;
    align-items: center;
}

@media (max-width: 450px) {
    .aside {
        width: 100%;
    }
}