.steamContentWrapper {
    position: relative;
    
    flex: 1;
    min-width: fit-content;

    display: flex;
    justify-content: center;

    &:has(.background img), &:has(.background video) {
        background-color: #000;
    }
}

.background {
    width: 100%;
    height: calc(100vh - 80px);
    
    position: absolute;
    
    user-select: none;

    video, img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
}

.content {
    flex: 1;
    max-width: 1080px;
    min-width: 0;
    background-color: rgba($color: #1B1918, $alpha: 1);
    // probably extract this into separate prop

    z-index: 1;
    
    display: flex;
    flex-direction: column;
}