.inputs_container {
    padding: 0 16px;
    
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttons_container {
    height: 100px;
    padding: 16px;
    display: flex;
    gap: 16px;
}