.content {
    flex: 1;

    display: flex;
    flex-direction: column;

    .title {
        height: 75px;
        padding-left: 12px;

        display: flex;
        align-items: center;
        gap: 12px;
    }
    .main {
        height: 100%;
        background-color: #1B1918;
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        display: flex;
    }
} 