.user_unlocked_backgrounds {
    padding: 16px;

    display: flex;
    gap: 16px;

    overflow-x: auto;
    overflow-y: hidden;
}

.buttons_container {
    height: 100px;
    padding: 16px;
    display: flex;
    gap: 16px;
}